rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /words/{document=**} {
      allow list;
    }
    match /definitions/{document=**} {
      allow get, list;
      allow create: if request.auth != null;
      // allow update: if request.auth != null
      //               && request.auth.uid == resource.data.user.uid;
      allow update: if request.auth != null
                    && (
                    	((request.writeFields.size() == 1) && ('userVotes' in request.writeFields)) ||
                      request.auth.uid == resource.data.user.uid
                    );
    }
  }
}